<!DOCTYPE html>
<html lang="en" xmlns:th="https//www.thymeleaf.org">
<head th:replace="fragment/fragments::head">
</head>
<body>
<div th:replace="fragment/fragments::header"></div>
<div class="container">

    <div>
      <table class="table">
          <thead>
            <td>User</td>
            <td>Post</td>
          </thead>
        <div th:each="post:${posts}">
          <tr>
            <td th:text="${post.user.email}">
            </td>
            <td th:text="${post.post}">
            </td>
          </tr>
        </div>
      </table>
    </div>
</div>
</body>
</html>