<!DOCTYPE html>
<html lang="en" xmlns:th="https//www.thymeleaf.org">
<head th:replace="fragment/fragments::head">
</head>
<body>
<div th:replace="fragment/fragments::header"></div>
<div class="container">

  <div>
    <table class="table">
      <thead>
      <td>Username</td>
      <td>Name</td>
      <td></td>
      </thead>
      <div th:each="user:${users}">
        <tr>
          <td th:text="${user.email}">
          </td>
          <td th:text="${user.firstName}+' '+${user.lastName}">
          </td>
          <td>
            <div class="row">
              <a class="btn btn-primary" th:href="@{/friend/{user_id}/accept(user_id=${user.id})}">Accept</a></span>
              <a class="btn btn-primary" th:href="@{/friend/{user_id}/decline(user_id=${user.id})}">Decline</a></span>
            </div>
          </td>
        </tr>
      </div>
    </table>
  </div>
</div>
</body>
</html>